body {
    font-family: "Inter";
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;

    --fonte-padrao: "Inter"
}

#principal {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bababa;
}

#principal div a:hover {
    color: darkgrey;
}

#principal button:hover {
    color: #5f9ff3;
}

.link-menu {
    color: #ffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600px;
    margin: 35px 0px 38px 90px;
}

#principal button {
    margin-right: 5%;
    width: 80px;
    height: 40px;
    background-color: var(--azul-dnc);
    color: #ffff;

    cursor: pointer;

    border: 0px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 3px 2px 4px #05479e;
}

/* Seção Principal do Site */

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

header {
    color: white;
}

header h1 {
    font-size: 80px;
    font-weight: 800px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

header h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 100px;
}

.invert {
    background-color: black;
    font-weight: bold;
    padding: 5px;
    color: #ffff;
}

form {
    color: white;
    font-size: 30px;
    font-weight: 600px;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input {
    border-radius: 10px;
    height: 55px;
    margin-top: 5px;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.9);
}

form label {
    margin: 10px 0px 5px 0px;
}

form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
    ;
}

.checkbox-items label {
    font-size: 25px;
}

input[type="checkbox"] {
    transform: scale(1.0);
}

.checkbox-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkbox-items input {
    width: 20px;
    height: 22px;
}

input[type="submit"] {
    width: 600px;
    height: 55px;
    margin-top: 80px;
    background-color: var(--azul-dnc);
    color: white;
    font-size: 30px;
    font-weight: 50px;
    cursor: pointer;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    ;
}

footer {
    width: 100%;
    background-color: #0C70F2;
}

footer nav {
    /* essa configuração foi necessária para ajustar o background-color do h5 */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h5 {
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 800;

    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

footer ul li {
    text-align: center;
    font-weight: 600;
    font-size: 25px;

    margin: 25px 0px 25px 0px;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 25px;
    font: bold;
}

footer a:hover {
    color: var(--cinza-hover);
    cursor: pointer;
}

.endereco {
    font-weight: 600;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 30%;
}

.linha2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    #principal {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #menu-sup {
        display: flex;
        flex-direction: column;
    }

    .link-menu {
        margin: 0%;
        text-align: center;
        padding: 5px;
    }

    #principal button {
        margin: 0%;
        align-items: center;
    }

    section h1 {
        font-size: 30px;
    }

    section h2 {
        font-size: 26px;
        padding: 0px 5px 0px 8px;
    }

    form {
        width: 95%;
        font-size: 18px;
    }

    .checkbox-items label {
        font-size: 14px;
    }

    #cadastrar {
        width: 450px;

    }

    .linha1 {
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .endereco {
        width: 90%;
        margin-top: 20px;
    }
}